.container{
    height: 900px;
}
/*header*/
h1{
    font: 5em;;
}
.header{
  position: fixed;
    width: 100%;
    z-index: 10000;
    height: 250px;
    overflow: hidden;
    -webkit-transition: height 0.3s;
	-moz-transition: height 0.3s;
	transition: height 0.3s;
    background-color: darkgoldenrod;
}
.header h1,.header nav{
display: inline-block;
    position: relative;
    
}
.header .inner-header{
    
}
header h1,
.header nav a {
	line-height: 250px;
}
.header h1 {
	text-transform: uppercase;
	color: #333;
	letter-spacing: 4px;
	font-size: 4em;
	margin: 0;
	float: left;
}
.header nav {
	float: right;
}
.header nav a {
	color: #aaa;
	font-weight: 700;
	margin: 0 0 0 20px;
	font-size: 1.4em;
}

.header nav a:hover {
	color: #333;
}
/*transition to reduce height*/

.header h1,
.header nav a {
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.header.header-shrink {
	height: 90px;
}
.header.header-shrink h1 {
	font-size: 2em;
}



