/*SIDE*/
#side{
    margin-top: 50px;
    height: 400px;
    background-color: whitesmoke;
    position: fixed;
    color: #000000;
    
}
hr{
    margin: 3px;
    width: 100px;
}

/*nav*/

nav a{
    padding-left: 50px;
  
}
nav ul{
    margin-top: 50px;
}