body{
    background-color: #000000;
}
.container{
    font-family: 'Gloria Hallelujah', cursive;

}
/*SIDE*/
#side{
    margin-top: 100px;
    height: 400px;
    background-color: whitesmoke;
    position: fixed;
    color: #000000;
    
}



h1,h2{
    font-family: 'Indie Flower', cursive;

}

/*horizontal underline*/
hr{
    text-align: center;
    color: #000000;
    margin: 1px;
    width: 110px;
}

/*nav*/

nav a{
    padding-left: 50px;
  
}
nav ul{
    margin-top: 50px;
    border: 1px;
    margin-bottom: 5px;

}

nav a:hover{
    animation: side-move;
    font-size: 30px;
    color: black;
}

/*MID*/
h2{
/*    margin-top: 70px;*/
    font-size: 20px;
    text-align: center;
}

#mid{
    
    margin-top: 70px;    
}

#about h2,#work h2, #contact h2{
    padding-top: 50px;
}


/*about*/
#about{
    height: 700px;
    margin-bottom: 3px;
    background-color: #fff;
}

/*my work*/
#work{
    
    padding-left: 20px;
     height: 700px;
    padding-right: 25px;
    margin-bottom: 3px;
    background-color: #fff;
}

#work .one .columns , #work .two .columns{
    height: 300px;
    background-color: aqua;
    margin-bottom: 20px;
    margin: 2px;
}

/*contact*/
#contact{
    text-align: center;
    margin-bottom: 3px;
    background-color: #fff;
     height: 700px;
}

form{
margin: 7px;
}


/*ANIMATION*/
